* {
    display: flex;
    flex-direction: column;
    align-items: center;
}

title {
    display: none;
}

:root {
    --dark-grey: rgb(51, 57, 64);
    --light-pink: rgb(232, 103, 237);
}

body {
    background-color: var(--dark-grey);
}

main {
    width: 96%;
    margin: 2rem auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 50px;
}

h1,
h2,
h3,
.FChild h2,
.FChild p {
    color: var(--light-pink);
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin: 0;
}

header p {
    text-align: center;
    width:96%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.FBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 2rem;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.FChild {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin: 1.5rem .5rem 1.5rem .5rem;
    border: 2px dashed white;
    text-align: left;
    width: 100%;
    align-items: left;
}

.FChild h2 {
    display: flex;
    text-align: left;
    border: 2px solid white;
    border-radius: 7px;
    width: 85%;
    position: relative;
    margin-top: -30px;
    padding-left: 20px;
    background-color: var(--dark-grey);
    line-height: 40px;
    align-items: flex-start;
}

.FChild p {
    margin-bottom: 0;
    margin-left: 1rem;
    margin-top: 0;
}

code {
    flex-grow: 1;
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
    justify-content: center;
    padding: .5rem;
}

.language-css {
    display: flex;
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    width: 95%;
    height: 100%;
    background-image: linear-gradient(rgba(232, 102, 236, 0.3) 0%, rgba(232, 102, 236, 0.6) 100%);
    font-size: 18px;
    border-radius: 8px;
    color: white;
    align-items: flex-start;
}

/*on <pre> click, select all contents so the code is highlighted */
.language-css:active {
    user-select: all;
}

/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.FChild:hover,
.FChild:hover h2,
.FChild:hover .language-css {
    box-shadow: inset 0px 0px 8px rgb(232, 103, 237), 0 0 15px rgb(232, 103, 237);
}

footer {
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .FBox {
        flex-wrap: wrap;
    }
    .row {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
    }
    .FChild {
        width: 45%;
        justify-content: left;
    }
}

@media screen and (min-width: 992px) {
    .FBox {
        flex-wrap: wrap;
    }
    .row {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .FChild {
        width: 30%;
        justify-content: left;
    }
}